.Header{
    background-color: rgb(55, 47, 47);
   
    text-align: center;
    border-radius: 5px solid;
    border: solid;
    width: 100%;
    color: white

}


.Header:hover{

    cursor: pointer;
    color: rgb(5, 5, 5);
    background-color: rgb(131, 99, 160);
}

img:hover{

    cursor: pointer;
}

body{

background-color: rgb(172, 78, 78);
}


